server:
  port: 8083
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: enrollment-service
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848
        username: nacos  # 默认用户名
        password: nacos  # 默认密码
        namespace: public
        group: DEFAULT_GROUP
        cluster-name: DEFAULT
  datasource:
    url: jdbc:mysql://enrollment-db:3306/enrollment_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true&characterEncoding=UTF-8
    username: enrollment_user
    password: enrollment_pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        connection:
          characterEncoding: UTF-8
        hbm2ddl:
          charset_name: UTF-8
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.zjgsu.rqq.enrollment_service: DEBUG
